body {
    background-color: rgb(231, 235, 250);
    font-family: Arial,sans-serif;
    margin: 0;
}

h1{
    text-align: center;
    margin-top: 70px;
}

h2{
    text-align: center;
}

.calculadora{ 
    width: 306px;
    margin: 5px auto;
    /* background-color: rgb(198, 207, 237); */
    border: solid 2px;
    border-radius: 5%;
    padding: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#pantalla{
    width: 94%;
    margin: 5px auto;
    padding: 5px;
    color: rgb(83, 208, 83);
    text-align: right;
}

input[type="button"]{
  width: 71px; 
  height: 40px;
  margin-right: 2px; 
  margin-bottom: 2px;
  border-radius: 5px;
 
   
}

input[type="button"]:hover{
    background-color:gray;
   cursor:pointer;
}